@media (max-width: 1024px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
        height: 100%;
    }

    .services {
        height: 912px;
    }

    .services_content {
        flex-direction: column;
    }

    .services_content_text_title {
        margin-top: 52px;
        text-align: center;
    }

    .services_content_text_tagline {
        margin-top: 61px;
    }

    .services_content_text_separate {
        margin-top: 38px;
    }

    .services_content_text_describe {
        margin-top: 16px;
    }

    .recent_work {
        height: 1033px;
    }

    .recent_work_content_portfolio {
        flex-wrap: wrap;
        justify-content: center;
    }

    .recent_work_content_portfolio_card:nth-child(2n+1) { order: 1; }
    .recent_work_content_portfolio_card:nth-child(2n) { order: 2; }

    .recent_work_content_portfolio::before,
    .recent_work_content_portfolio::after {
        content: "";
        flex-basis: 100%;
        width: 0;
        order: 2;
    }

    .video_block_content_image img {
        width: 395px;
        height: 380px;
    }

    .video_block_content_text {
        margin-left: 60px;
    }

    .latest_news {
        height: 1368px;
    }

    .latest_news_content_images {
        height: 960px;
    }
}

@media (min-width: 1024px) {
    .latest_news_content_images {
        column-count: 4;
    }
}
