.container {
    max-width: 1150px;
    margin: 0 auto;
    height: 100%;
}

.header {
    background: #2B4074;
    width: 100%;
    height: 100px;
}

.header_hamburger {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 668px;
    opacity: 0.75;
    background-image: url("../images/bg-img.svg");
    background-color: rgba(33, 33, 33, 0.5);
    background-size: cover;
}

.intro_main_text {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 96px;
    font-weight: normal;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 96px;
}

.intro_text {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 30px;
}

.intro_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: #2B4074;
    border-radius: 3px;
    border: none;
    font-family: Roboto, sans-serif;
    color: #F9F6E5;
    font-size: 18px;
    margin-top: 30px;
    text-decoration: none;
}

.promo {
    width: 100%;
    height: 192px;
    background: #2B4074;
}

.promo_content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.promo_text {
    padding: 88px;
}

.promo_text_tagline {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.promo_text_describe {
    font-family: Dosis, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.promo_button {
    width: 200px;
    height: 50px;
    background: #F9F6E5;
    border-radius: 3px;
    border: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 18px;
}

.services {
    height: 541px;
}

.services_content {
    display: flex;
    justify-content: space-between;
}

.services_content_text {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}

.services_content_text_title {
    margin-bottom: 64px;
    margin-top: 90px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #2B4074;
}

.services_content_text_tagline {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: #4A4A4A;
}

.services_content_text_separate {
    width: 99px;
    height: 8px;
    background: #2B4074;
    margin-bottom: 25px;
    margin-top: 30px;
}

.services_content_text_describe {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #797979;
}

.services_content_item {
    display: flex;
    flex-wrap: wrap;
}

.services_content_item > div {
    flex: 1;
    min-width: 227px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid #F9F6E5;
}

.services_content_item > div:nth-child(-n + 4) {
    border-bottom: 1px solid #F9F6E5;
}


.services_content_item > div > div > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.services_content_item > div > div > div > p {
    margin-top: 30px;
    text-align: center;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #4A4A4A;
}

.services_content_item > div > div:hover {
    border: 4px solid #2B4074;
    width: 212px;
    padding: 25px 0;
    height: 100%;
    max-height: 200px;
}

.services_content_item > div > div:hover > div:last-child {
    display: flex;
}

.services_content_item > div > div > div:last-child {
    display: none;
}

.services_content_item > div > div:last-child p {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #9B9B9B;
    margin-top: 22px;
}

.services_content_item > div > div:last-child a {
    margin-top: 18px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #2B4074;
    text-decoration: none;
}

.recent_work {
    height: 618px;
    width: 100%;
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
}

.recent_work_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent_work_content_title {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-top: 80px;
}

.recent_work_content_separator {
    width: 100px;
    height: 8px;
    background: #FFFFFF;
    margin-top: 24px;
}

.recent_work_content_portfolio {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.recent_work_content_portfolio_card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.recent_work_content_portfolio_card:hover > .recent_work_content_portfolio_hidden {
    visibility: visible;
}

.recent_work_content_portfolio_hidden {
    position: absolute;
    background: #F9F6E5;
    width: 243px;
    height: 217px;
    border-radius: 4px;
    opacity: 0.75;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.recent_work_content_portfolio_hidden img:first-child {
    padding: 10px;
}

.recent_work_content_portfolio_card > img {
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0px 4px 4px rgba(71, 110, 77, 0.351506);
    border-radius: 4px;
    width: 268px;
    height: 239px;
}

.recent_work_content_portfolio_card > p {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-top: 23px;
    color: #2B4074;
}

.video_block {
    width: 100%;
    height: 580px;
    position: relative;
}

.video_block:before {
    position: absolute;
    content: '';
    top: -50px;
    width: 100%;
    height: 50px;
    background-color: white;
}

.video_block_content {
    display: flex;
}

.video_block_content_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 100px;
}

.video_block_content_text_title {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #4A4A4A;
}

.video_block_content_separate {
    width: 113px;
    height: 8px;
    background: #2B4074;
    margin-top: 30px;
}

.video_block_content_text_describe {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #9B9B9B;
    margin-top: 39px;
}

.video_block_content_text_button {
    width: 230px;
    height: 60px;
    background: #2B4074;
    border-radius: 3px;
    border: none;
    margin-top: 65px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #F9F6E5;
}

.video_block_content_image {
    width: 470px;
    height: 430px;
}

.video_block_content_image img {
    border-radius: 5px;
}

.latest_news {
    width: 100%;
    height: 1044px;
    background: #F9F6E5;
}

.latest_news_content_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.latest_news_content_text_title {
    margin-top: 52px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #4A4A4A;
}

.latest_news_content_text_separator {
    width: 100px;
    height: 8px;
    margin-top: 19px;
    background: #2B4074;
}


.latest_news_content_images {
    margin-top: 108px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 960px;
    padding: 20px;
    column-count: 3;
}

.item {
    position: relative;
    padding: 10px;
}

.item img {
    border-radius: 5px;
}

.item img:last-child{
    display: none;
}

.item:hover img:last-child {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.item p {
    position: absolute;
    padding: 8px 20px 10px;
    bottom: 10px;
    background: white;
    width: calc(100% - 60px);
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #4A4A4A;
}


.item:hover img:first-child {
    outline-offset: -10px;
    outline: 10px solid #2B4074;
    border-radius: 5px;
}

.item:hover p {
    background: #2B4074;
    bottom: 40px;
    color: #F9F6E5;
}

/*.item:nth-of-type(3n+1) {*/
/*    order: 1;*/
/*}*/

/*.item:nth-of-type(3n+2) {*/
/*    order: 2;*/
/*}*/

/*.item:nth-of-type(3n) {*/
/*    order: 3;*/
/*}*/

/*.item:nth-of-type(4n) {*/
/*    order: 4;*/
/*}*/

/* Force new columns */
/*.latest_news_content_images::before,*/
/*.latest_news_content_images::after {*/
/*    content: "";*/
/*    flex-basis: 100%;*/
/*    width: 0;*/
/*    order: 2;*/
/*}*/

.break {
    flex-basis: 100%;
    width: 0;
    margin: 0;
}

.testimonial {
    width: 100%;
    height: 480px;
    background: #FFFFFF;
}

.testimonial_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial_content_img {
    margin-top: 100px;
}

.testimonial_content_quote {
    margin-top: 30px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #4A4A4A;
}

.testimonial_content_quote strong {
    color: #2B4074;
}

.testimonial_content_author {
    margin-top: 30px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #4A4A4A;
}

footer {
    width: 100%;
    height: 639px;
}

.footer_contact:before {
    position: absolute;
    content: "";
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    height: 65px;
    background-color: #2B4074;
    border-radius: 3px;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.footer_contact {
    position: relative;
    height: 639px;
    background: #2B4074;
}

.footer_contact_content {
    display: flex;
    flex-direction: column;
}

.footer_contact_content_text {
    margin-top: 158px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.footer_contact_content_social {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #7EBF84;
    border-bottom: 1px solid #7EBF84;
}

.footer_contact_content_social_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 283px;
    height: 61px;
    border-right: 1px solid #7EBF84;
}

.footer_contact_content_social_item:first-child {
    border-left-style: none;
}

.footer_contact_content_social_item:last-child {
    border-right-style: none;
}

.footer_contact_content_widgets {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.footer_contact_content_widgets_item p:first-child {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #F9F6E5;
}

.footer_contact_content_widgets_item p:last-child {
    margin-top: 22px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer_anchor {
    height: 42px;
    background: #F9F6E5;
}

.footer_anchor_content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer_anchor_content a {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #4A4A4A;
}


