.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.header {
    background: #2B4074;
    width: 100%;
    height: 100px;
}

.header_hamburger {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 668px;
    opacity: 0.75;
    background-image: url("../images/bg-img.svg");
    background-color: rgba(33, 33, 33, 0.5);
    background-size: cover;
    position: relative;
}

.intro_main_text {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 96px;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.intro_text {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 30px;
}

.intro_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: #2B4074;
    border-radius: 3px;
    border: none;
    font-family: Roboto, sans-serif;
    color: #F9F6E5;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer
}

.owl-dots{
    position: absolute;
    left: calc(50% - 45px);
    bottom: 10px;
}

.intro_navigation {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 56px;
    height: 56px;
    border: 0;
    cursor: pointer
}

.prev {
    background: #2B4074;
}

.next {
    background: #F9F6E5;
}

.promo {
    width: 100%;
    background-color: #2B4074;
    padding: 40px 0;
}

.promo_content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.promo_text {
    padding-left: 88px;
}

.promo_text_tagline {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.promo_text_describe {
    font-family: Dosis, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.promo_button {
    width: 200px;
    height: 50px;
    background: #F9F6E5;
    border-radius: 3px;
    border: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 18px;
    cursor: pointer
}

.services {
    min-height: 541px;
}

.services_content {
    display: flex;
    justify-content: space-between;
}

.services_content_text {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
}

.services_content_text_title {
    margin-bottom: 64px;
    margin-top: 90px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #2B4074;
}

.services_content_text_tagline {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: #4A4A4A;
}

.services_content_text_separate {
    width: 99px;
    height: 8px;
    background: #2B4074;
    margin-bottom: 25px;
    margin-top: 30px;
}

.services_content_text_describe {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #797979;
}

.services_content_item {
    display: flex;
    flex-wrap: wrap;
    min-width: 930px;
}

.services_content_item > div {
    width: calc(25% - 1px);
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid #F9F6E5;
}

.services_content_item > div:nth-child(-n + 4) {
    border-bottom: 1px solid #F9F6E5;
}


.services_content_item > div > div > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.services_content_item > div > div > div > p {
    margin-top: 30px;
    text-align: center;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #4A4A4A;
}

.services_content_item > div > div:hover {
    border: 4px solid #2B4074;
    width: 212px;
    padding: 25px 0;
    height: 100%;
    max-height: 200px;
}

.services_content_item > div > div:hover > div:last-child {
    display: flex;
}

.services_content_item > div > div > div:last-child {
    display: none;
}

.services_content_item > div > div:last-child p {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #9B9B9B;
}

.services_content_item > div > div:last-child a {
    margin-top: 18px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #2B4074;
    text-decoration: none;
}

.recent_work {
    padding: 80px 0 130px;
    width: 100%;
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
}

.recent_work_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent_work_content_title {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.recent_work_content_separator {
    width: 100px;
    height: 8px;
    background: #FFFFFF;
    margin: 24px 0 80px;
}

.recent_work_content_portfolio {
    display: flex;
    justify-content: space-between;
}

.recent_work_content_portfolio_card {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.recent_work_content_portfolio_card:hover > .recent_work_content_portfolio_hidden {
    visibility: visible;
}

.recent_work_content_portfolio_hidden {
    position: absolute;
    background: #F9F6E5;
    width: 243px;
    height: 217px;
    border-radius: 4px;
    opacity: 0.75;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.recent_work_content_portfolio_hidden img:first-child {
    padding: 10px;
}

.recent_work_content_portfolio_card > img {
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0px 4px 4px rgba(71, 110, 77, 0.351506);
    border-radius: 4px;
    width: 268px;
    height: 240px;
}

.recent_work_content_portfolio_card > p {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-top: 30px;
    color: #2B4074;
}

.video_block {
    width: 100%;
    position: relative;
    padding-bottom: 100px;
}

.video_block:before {
    position: absolute;
    content: '';
    top: -50px;
    width: 100%;
    height: 50px;
    background-color: white;
}

.video_block_content {
    display: flex;
}

.video_block_content_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 100px;
}

.video_block_content_text_title {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #4A4A4A;
}

.video_block_content_separate {
    width: 113px;
    height: 8px;
    background: #2B4074;
    margin: 30px 0 40px;
}

.video_block_content_text_describe {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #9B9B9B;
}

.video_block_content_text_button {
    width: 230px;
    height: 60px;
    background: #2B4074;
    border-radius: 3px;
    border: none;
    margin-top: 40px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #F9F6E5;
    cursor: pointer
}

.video_block_content_image {
    width: 460px;
    height: 420px;
}

.video_block_content_image img {
    border-radius: 5px;
}

.latest_news {
    width: 100%;
    background: #F9F6E5;
    padding: 50px 0 80px;
}

.latest_news_content_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.latest_news_content_text_title {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #4A4A4A;
}

.latest_news_content_text_separator {
    width: 100px;
    height: 8px;
    margin: 20px 0 100px;
    background: #2B4074;
}

.latest_news_content_images {
    display: flex;
    flex-flow: column wrap;
    max-height: 800px;
    width: 100%;
    margin: 0 -15px;
}

.testimonial {
    width: 100%;
    background: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 50px;
}

.testimonial_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial_content_quote {
    margin-top: 30px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #4A4A4A;
}

.testimonial_content_quote strong {
    color: #2B4074;
}

.testimonial_content_author {
    margin-top: 30px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #4A4A4A;
    margin-bottom: 80px;
}

footer {
    width: 100%;
}

.footer_contact:before {
    position: absolute;
    content: "";
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    height: 65px;
    background-color: #2B4074;
    border-radius: 3px;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.footer_contact {
    position: relative;
    background: #2B4074;
    padding: 150px 0 80px;
}

.footer_contact_content {
    display: flex;
    flex-direction: column;
}

.footer_contact_content_text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.footer_contact_content_social {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #7EBF84;
    border-bottom: 1px solid #7EBF84;
}

.footer_contact_content_social_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 283px;
    height: 61px;
    border-right: 1px solid #7EBF84;
}

.footer_contact_content_social_item:first-child {
    border-left-style: none;
}

.footer_contact_content_social_item:last-child {
    border-right-style: none;
}

.footer_contact_content_widgets {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.footer_contact_content_widgets_item p:first-child {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #F9F6E5;
}

.footer_contact_content_widgets_item p:last-child {
    margin-top: 22px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer_anchor {
    height: 42px;
    background: #F9F6E5;
}

.footer_anchor_content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer_anchor_content a {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #4A4A4A;
}

.latest_news_item {
    position: relative;
    cursor: pointer;
    width: 270px;
    padding: 15px;
}

.latest_news_item img[alt='news'] {
    border-radius: 4px;
}

.latest_news_item img:last-of-type {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 10px);
    opacity: 0;
    transition: .5s;
}

.latest_news_item:hover img:first-child {
    outline: 10px solid #2B4074;
    outline-offset: -10px;
}

.latest_news_item:hover .latest_news_name {
    transform: translateY(-30px);
    background-color: #2B4074;
    color: #F9F6E5;
}

.latest_news_item:hover img:last-of-type {
    opacity: 1;
}

.latest_news_name {
    position: absolute;
    bottom: 17px;
    color: #4A4A4A;
    background-color: #ffffff;
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    transition: 0.5s;
    border-radius: 0 0 4px 4px;
    font-size: 18px;
    line-height: 21px;
    font-family: Roboto Condensed, serif;
    letter-spacing: 2px;
}

.latest_news_item:nth-of-type(1) {
    order: 0;
}

.latest_news_item:nth-of-type(2) {
    order: 2;
}

.latest_news_item:nth-of-type(3) {
    order: 4;
}

.latest_news_item:nth-of-type(4) {
    order: 6;
}

.latest_news_item:nth-of-type(5) {
    order: 1;
}

.latest_news_item:nth-of-type(6) {
    order: 3;
}

.latest_news_item:nth-of-type(7) {
    order: 5;
}

.latest_news_item:nth-of-type(8) {
    order: 7;
}

@media (min-width: 768px) and (max-width: 1440px) {
    .recent_work_content_portfolio_card:nth-of-type(1), .recent_work_content_portfolio_card:nth-of-type(2) {
        margin-bottom: 30px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 970px;
    }

    .promo_text {
        padding-left: 0;
    }

    .intro_main_text {
        font-size: 96px;
    }

    .intro_text {
        font-size: 24px;
    }

    .btn {
        width: 70px;
        height: 70px;
    }

    .services_content {
        flex-direction: column;
    }

    .recent_work_content_portfolio {
        flex-wrap: wrap;
        justify-content: center;
    }

    .recent_work_content_portfolio_card {
        padding: 0 12px;
    }

    .recent_work_content_portfolio_card > img {
        width: 318px;
        height: 282px;
    }

    .recent_work {
        padding-bottom: 120px;
    }

    .recent_work_content_portfolio_hidden {
        width: 288px;
        height: 256px;
    }

    .video_block_content_text {
        margin-left: 60px;
    }

    .video_block_content_text_button {
        margin-top: 20px;
    }

    .video_block_content_image {
        min-width: 395px;
        height: 380px;
    }

    .video_block_content_image img {
        width: 100%;
    }

    .video_block_content_separate {
        margin: 15px 0 20px;
    }

    .video_block:before {
        height: 80px;
    }

    .video_block {
        padding: 20px 0 80px;
    }

    .latest_news_content_images {
        max-height: 1074px;
        align-content: center;
        margin: 0;
    }

    .latest_news {
        padding: 65px 0 80px;
    }

    .latest_news_content_text_separator {
        margin: 30px 0 80px;
    }

    .latest_news_item:nth-of-type(1) {
        order: 0;
    }

    .latest_news_item:nth-of-type(2) {
        order: 4;
    }

    .latest_news_item:nth-of-type(3) {
        order: 3;
    }

    .latest_news_item:nth-of-type(4) {
        order: 7;
    }

    .latest_news_item:nth-of-type(5) {
        order: 6;
    }

    .latest_news_item:nth-of-type(6) {
        order: 2;
    }

    .latest_news_item:nth-of-type(7) {
        order: 1;
    }

    .latest_news_item:nth-of-type(8) {
        order: 5;
    }

    .services_content_text {
        max-width: 970px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .services_content_item {
        border-top: 1px solid #F9F6E5;
        min-width: auto;
        margin-top: 32px;
    }

    .promo_text_describe {
        margin-top: 10px;
    }

    .services_content_text_title {
        text-align: center;
        margin: 50px 0 60px;
    }

    .services_content_text_separate {
        margin: 38px 0 34px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 710px;
    }

    .intro_main_text {
        font-size: 84px;
    }

    .intro_text {
        font-size: 18px;
    }

    .btn {
        width: 56px;
        height: 56px;
    }

    .services_content_text {
        max-width: 710px;
    }

    .video_block:before {
        content: none;
    }

    .video_block_content_text {
        margin-left: 34px;
    }

    .video_block_content_image {
        min-width: 240px;
        height: 227px;
    }

    .recent_work {
        padding-bottom: 80px;
    }

    .video_block {
        padding: 40px 0 50px;
    }

    .latest_news_content_images {
        max-height: 1520px;
        align-content: center;
        margin: 0;
    }

    .latest_news {
        padding: 40px 0;
    }

    .latest_news_content_text_separator {
        margin: 30px 0 35px;
    }

    .latest_news_item:nth-of-type(1) {
        order: 0;
    }

    .latest_news_item:nth-of-type(2) {
        order: 5;
    }

    .latest_news_item:nth-of-type(3) {
        order: 3;
    }

    .latest_news_item:nth-of-type(4) {
        order: 2;
    }

    .latest_news_item:nth-of-type(5) {
        order: 1;
    }

    .latest_news_item:nth-of-type(6) {
        order: 6;
    }

    .latest_news_item:nth-of-type(7) {
        order: 4;
    }

    .latest_news_item:nth-of-type(8) {
        order: 7;
    }

    .services_content_item > div {
        width: calc(50% - 1px);
        height: 335px;
        border-bottom: 1px solid #F9F6E5;
    }

    .services_content_item > div > div:hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 331px;
        padding: 0;
        max-height: 288px;
    }

    .footer_contact {
        padding: 114px 0 28px;
    }

    .footer_contact_content_widgets {
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 70px;
    }

    .footer_contact_content_widgets_item {
        width: 50%;
        margin-bottom: 28px;
    }

    .footer_contact_content_social {
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 590px;
    }

    .intro_main_text {
        font-size: 60px;
    }

    .intro_text {
        font-size: 18px;
    }

    .recent_work_content_portfolio_card:not(:last-of-type) {
        margin-bottom: 20px;
    }

    .recent_work_content_portfolio_card > p {
        margin-top: 20px;
    }

    .recent_work_content_portfolio_card > img {
        width: 518px;
        height: 460px;
    }

    .recent_work_content_portfolio_hidden {
        width: 470px;
        height: 420px;
    }

    .recent_work {
        padding: 40px 0;
    }

    .video_block_content {
        flex-direction: column;
        align-items: center;
    }

    .video_block_content_image {
        width: 520px;
        height: 478px;
    }

    .video_block_content_text {
        margin: 45px 0 0;
        align-items: center;
    }

    .video_block_content_separate {
        margin: 20px 0 40px;
    }

    .video_block_content_text_describe {
        text-align: center;
    }

    .video_block {
        padding: 45px 0 50px;
    }

    .video_block_content_text_button {
        margin-top: 55px;
    }

    .latest_news_content_text_separator {
        margin: 20px 0 45px;
    }

    .promo_content {
        flex-direction: column;
    }

    .promo_text {
        text-align: center;
        margin-bottom: 40px;
    }

    .services_content_text {
        text-align: center;
    }

    .services_content_text_title {
        margin: 24px 0 12px;
    }

    .services_content_text_separate {
        margin: 30px auto;
    }

    .footer_contact {
        padding: 84px 0 28px;
    }

    .footer_contact_content_widgets {
        margin-top: 40px;
    }

    .services_content_item > div > div:hover {
        width: 287px;
    }
}

@media (max-width: 640px) {
    .container {
        max-width: 305px;
    }

    .intro_main_text {
        font-size: 28px;
    }

    .intro_text {
        display: none;
    }

    .intro_navigation{
        display: none;
    }

    .latest_news_content_images {
        max-height: initial;
    }

    .latest_news_item {
        padding: 10px;
    }

    .latest_news_name {
        bottom: 12px;
    }

    .video_block {
        padding: 20px 0 50px;
    }

    .video_block_content_image {
        width: 281px;
        height: 244px;
    }

    .latest_news_content_text_separator {
        margin: 20px 0 25px;
        width: 50px;
    }

    .recent_work_content_portfolio_card > img {
        width: 280px;
        height: 250px;
    }

    .recent_work_content_portfolio_hidden {
        width: 254px;
        height: 227px;
    }

    .recent_work_content_separator {
        margin: 20px 0 40px;
        width: 50px;
    }

    .services_content_item > div {
        width: 100%;
        height: 335px;
    }

    .footer_contact_content_text {
        text-align: center;
    }

    .footer_contact_content_social {
        flex-direction: column;
        border: none;
    }

    .footer_contact_content_social_item {
        width: 100%;
        border: none;
        height: auto;
    }

    .footer_contact_content_social_item:not(:last-of-type) {
        margin-bottom: 16px;
    }

    .footer_contact_content_widgets_item {
        text-align: center;
        width: 100%;
    }

    .footer_anchor_content {
        justify-content: center;
    }

    .services_content_item {
        padding: 0 15px 40px;
        border-top: none;
    }

    .services_content_item > div {
        border-right: 1px solid #F9F6E5;
    }

    .services_content_item > div:first-child {
        border-top: 1px solid #F9F6E5;
    }

    .services_content_item > div > div:hover {
        width: 246px;
    }
}
