@media only screen and (max-width: 768px) {
    .promo_text {
        padding: 0;
    }

    .services {
        height: 1654px;
    }

    .services_content_item {
        justify-content: center;
    }

    .services_content_item > div{
        min-width: 382px;
    }

    .video_block_content_image img {
        width: 240px;
        height: 227px;
    }

    .video_block_content_text{
        margin-left: 34px;
    }

    .latest_news {
        height: 1745px;
    }
}
